{% extends 'base0.html' %}
{% block content %}
  <div class="container">
        <div class="">
          <br><legend> The  number for your payment is <span class="text-danger">{{accNo}}</span>, if you typed wrong and you want to change it then fill the input box below then click use this number button to change it, otherwise if its good then click the finish button to pay</legend><hr>
            
        </div><br>
        <form method ="POST" action ="">
            {% csrf_token %}
            <div class="row" style="margin-left: 50px;">
                <div class="col-md-4 d-inline">
                    <input type="number" value="{{accNo}}" class="form-control" style="margin-bottom: 10px;" name="changeNo">
                </div>
                <div class="col-md-4 d-inline">
                    <input type="submit" class="btn btn-outline-success" value="use this number"> 
                </div>
            </div><br><hr>
        </form>
        <div><br>
            <legend>Everything is good? If yes finish the payment by clicking the  button below</legend>
            <a href="{% url 'finishHim' %}" class="btn btn-outline-primary" style="margin-bottom: 10px;">Finish and pay</a>
        </div>
  </div>
{% endblock content %}